<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-circle-up"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">UNLOAD UNLEASH UNVEIL</div>
  <div class="footer-text">
    © 2023 COPYRIGHT WARDROP LIMITED. ALL RIGHTS RESERVED.
  </div>
</div>
