<%# <div class="landing w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(<%= asset_path('landing_page5.jpg') %>);"> %>
<%= render "shared/navbar" %>
<div class="container">
  <div id="typed-text">
    <script>
      typed = new Typed('#typed-text', {
        strings: [
          "<h1><span class='un'>UN</span> LOAD</h1>",
          "<h1><span class='un'>UN</span> LOAD</h1>",
          "<h1><span class='un'>UN</span> LEASH</h1>",
          "<h1><span class='un'>UN</span> VEIL</h1>"
        ],
        typeSpeed: 200,
        backSpeed: 50,
        startDelay: 1000,
        loop: true,
        showCursor: false,
        contentType: 'html'
      });
    </script>
  </div>
  <%# <%= link_to 'Rent Now', apparels_path, class: 'btn btn-info mt-3' %>
</div>
</div>
