<%= render 'rental_landing' %>
<div class="container">
  <div class="text-center mt-3 lg-title">
    <h1>YOUR RENTALS</h1>
  </div>
  <div class="row">
    <% @rentals.each do |rental| %>
      <%= render 'rental_card', rental: rental %>
    <% end %>
  </div>
</div>
