@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kavivanar&family=Solitreo&family=Tapestry&family=Tillana:wght@600&display=swap');

.landing {
  background-size: cover;
  background-position: center;
  height: 1000px;
  width: 1500px;
  padding: 10px 0px;
  margin: 0 auto;
}

.landing h1,
.landing h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 75px;
  font-family: 'Bangers', cursive;
  font-weight: bold;
}

.landing p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.un {
  font-size: 150px;
  color: #81C3D7;
  font-family: 'Bangers', cursive;
}

#typed-text {
  display: flex;
  margin: 100px 200px;
}

.fixed-search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
