.card-product {
  overflow: hidden;
  height: 280px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 8px;
  width: 402px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.card-product img:hover {
  transform: scale(1.1);
  background: var(--option4);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 300px;
}

.accepted {
  background-color: lightgreen;
  opacity: 0.8;
}

.rejected {
  background-color: #E76161;
  opacity: 0.6;
}

.pending {
  background-color: lightyellow;
  opacity: 0.7;
}

.delivered {
  background-color: lightblue;
  opacity: 0.7;
}
